extends layout

block content
  h1 Patrons
  p
    a.button(href='new_patron.html') Create New Patron
  table
    thead
      tr
        th Name
        th Address
        th Email
        th Library ID
        th Zip
    tbody
      each patron in patrons
        tr
          td
            a(href='patron_detail.html') #{patron.dataValues.first_name} #{patron.dataValues.last_name}
          td #{patron.dataValues.address}
          td #{patron.dataValues.email}
          td #{patron.dataValues.library_id}
          td #{patron.dataValues.zip_code}
  