extends layout

block content
  h1 New Loan
  form
    p
      label(for='book_id') Book
      select#book_id(name='book_id')
        each book in books
          option(value=`${book.dataValues.id}`) #{book.dataValues.title}
    p
      label(for='patron_id') Patron
      select#patron_id(name='patron_id')
        each patron in patrons
          option(value=`${patron.dataValues.id}`) #{patron.dataValues.first_name} #{patron.dataValues.last_name} 
    p
      label(for='loaned_on') Loaned on:
      input#loaned_on(type='text', value=`${today}` name='loaned_on')
    p
      label(for='return_by') Return by:
      input#return_by(type='text', value=`${return_date}` name='return_by')
    p
      input(type='submit', value='Create New Loan')
