-var i = 1;
div.paginationLinks 
  if totalItems > 0
    p Page
    ul
      while i <= totalPages
        li
          if currentPage == i 
            if searchTerm
              a(href=`${currentUrl}?page=${i}&search_term=${searchTerm}`).active= i++  
            else 
              a(href=`${currentUrl}?page=${i}`).active= i++  
          else 
            if searchTerm
              a(href=`${currentUrl}?page=${i}&search_term=${searchTerm}`)= i++   
            else
              a(href=`${currentUrl}?page=${i}`)= i++ 
if searchTerm  
  p #{totalItems} results for #{title} with search parameter '#{searchTerm}' in library database 
else
  p #{title} in library database: #{totalItems}