-var i = 1;
div.paginationLinks 
  p Page
  ul
    while i <= totalPages
      li
        if currentPage == i 
          if searchTerm
            a(href=`${currentUrl}?page=${i}&search_term=${searchTerm}`).active= i++  
          else 
            a(href=`${currentUrl}?page=${i}`).active= i++  
        else 
          if searchTerm
            a(href=`${currentUrl}?page=${i}&search_term=${searchTerm}`)= i++   
          else
            a(href=`${currentUrl}?page=${i}`)= i++   
p #{title} in library database: #{totalItems}