extends layout

block content
    h1 Patron: Return Book
    p
      strong Book Title:
      | #{loan.book_title}
    p
      strong Loaned By:
      | #{loan.patron_name}
    p
      strong Loaned On:
      | #{loan.loaned_on}
    p
      strong Return By:
      | #{loan.return_by}
    form(method='post')
      p
        label(for='returned_on') Returned on:
        input#returned_on(type='text', value=`${loan.today}`, name="returned_on")
      p
        input(type='submit', value='Return Book')
